* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

nav a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 40px;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

/* BUTTON */
button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background: white;
  color: #2c5364;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: lightblue;
}

.portfolio {
  padding: 50px;
  text-align: center;
}

.portfolio h2 {
  margin-bottom: 30px;
}

.projects {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.contact {
  padding: 50px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input, textarea {
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

textarea {
  height: 100px;
}

footer {
  background: #111;
  padding: 20px;
  text-align: center;
}

.social a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}